<div class="card-body">
  <div class="float-right">
    <button class="btn btn-primary" type="submit">
      Adicionar ao carrinho
    </button>
  </div>
  <h5 class="card-title">${idProduto} - ${nome}</h5>
  <p class="card-text"><small class="text-muted">Marca: ${marca} / Modelo: ${modelo} </small></p>
  <p class="card-text">${descricao}</p>
  <div class="btn-group">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Tamanho
    </button>
    <div class="dropdown-menu">
      ...
    </div>
  </div>
  <div class="btn-group">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Cor
    </button>
    <div class="dropdown-menu">
      ...
    </div>
  </div><br>
  <br>
  <div class="badge badge-primary text-wrap" style="width: 8rem; height: 3rem;padding-top:1rem;">${preco}</div>
</div>